html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #333;
    padding: 10px 15px;
    text-align: left;
}

th {
    background-color: #4CAF50; /* Green header background */
    color: white;
}
/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
/* Optional: hover effect for rows */
tr:hover {
    background-color: #ddd;
}

p {
    color: red;
}

.mandatory-field {
    color: red;
}

small {
    color: #777;
    font-size: 8px;
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    background-color: #4267B2;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    opacity: 1;
    animation: fadeIn 0.4s ease forwards;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 100%;
}

.error {
    background-color: red;
}
/* Fadeout animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Fadein animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



